body {
  background-color: rgb(168, 193, 251);
  display: flex;                     
  justify-content: center;          
  align-items: center;             
  height: 100vh;                   
  margin: 0;                        
  font-family: Arial, sans-serif;
  line-height: 1.6;
  }
   
  #product-container {
    max-width: 600px;                 
    width: 100%;                      
    padding: 20px;                    
    border: 5px solid #ef7575;    
    background-color: #f9f9f9;  
    border-radius: 8px;         
    box-shadow: 0 0 10px rgba(0,0,0,0.1);}
   
  #cart {
    
    list-style: none;
    padding: 0;
  }
   
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
   
  .cart-item span {
    flex: 1;
  }
   
  .cart-item button {
    background-color: cyan;
    margin-left: 10px;
  }
  
 